pom.xml
.vscode/settings.json
target/*
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/test-classes/models/LoginPage.class
playwright-playground.jar
src/main/java/org/example/App.java
src/test/java/amazon/AmazonLoginTest.java
target/classes/org/example/App.class
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/test-classes/BrowserContextConcept.class
target/test-classes/EvaluateInBrowserContext.class
target/test-classes/Example.class
target/test-classes/InterceptNetworkRequests.class
target/test-classes/LocatorConcept.class
target/test-classes/MobileAndGeolocation.class
target/test-classes/PageScreenshot.class
target/test-classes/TestExample.class
target/test-classes/TracerInspection.class
target/test-classes/authorization/whenAuthorizingForAccess.class
target/test-classes/models/LoginPage.class
target/test-classes/playwrightsessions/PlaywrightBasics.class
src/data/users/user.txt
